#hiddenNavBar{
  border-radius: 30px 30px 0 0;
  background-color: transparent!important;
  /* background-color: var(--hover-color)!important; */
  
}
.nav-link{
  color: var(--nav-color);
}
.nav-link:hover{
  color: var(--hover-color);
}
.grid-container{
  max-width: 400px;
}
@media screen and (max-height: 800px){
.resHeight{
  margin-top: 0!important;
}
}

@media screen and (max-width: 1400px) {

  /* #mainNavHidden{
    position: absolute;
      max-width: 500px!important;
      top: 10px  ;
      left: 25px; 
  } */
  
  

  #offCanvasNav{
    width: 100%!important;
    background-color: var(--dash-bg)!important;

  }
  .offcanvas{
    left: 5%;
    
    
    
  }
  #closeButton{
    visibility: visible!important;
  }
  
}
#mainNavUl{
  width: 100%;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.55);
  border-color: rgba(0,0,0,0)!important;
  cursor: pointer;
}
.navbar-light .navbar-toggler:focus {
  color: rgba(0,0,0,.55);
  border-color: none!important;
  outline: none!important;
  cursor: pointer;
}

 .email{
   font-size: .8rem;
 }

#dashMainBody{

  border-radius: 35px;
  background-color: var(--dash-bg);
}
.accordion-button{
  color: var(--nav-color);
  padding: 0 0 0 0;
  margin: 0;
  
}
.accordion-button.collapsed{
  color: var(--nav-color);
  transition: .3s ease-in-out!important;
}
.accordion-button::after {
  background-image: none;
 
}
.accordion-button:not(.collapsed){
  color: var(--hover-color);
}
  .accordion-button:not(.collapsed)::after {
    background-image: none;
    color: var(--hover-color);
    transform: rotate(360deg);
    
  }
  .accordion-button,.accordion-item{
    background-color: transparent!important;
  }
  .accordion-button:hover{
    color: var(--hover-color);

    box-shadow: none;
  }
  .accordion-button:focus{
    box-shadow: none;
  }
  .accordion-collapse {
    margin: 5px 0;
    
    
  }
  #insideNav{
    padding-left: 21px;
   
  }
  #profileName, #profileEmail{
    color: var(--hover-color);

  }
  .nav-link{
    padding: 0 0 5px 0!important;
    letter-spacing: 1px;
  }
  .h4{
    letter-spacing: 1px;
    
  }
  .featherIcon{
    transition: .3s ease-in-out;

  }
 .rotation{
  margin-top: 4px;
  transform: rotate(-267deg);
 }
.navChild{
  width: 15px;
  height: 15px;
  font-size: 5px!important;
}
.mainNav{
  padding: 0;
}
#mainContent{
  margin-left: 15px!important;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 91vh; 
  overflow: hidden;
  background-color: var(--card-color);

}
.nav-brand{
  cursor: pointer;
}
#mainContentInside{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 87vh;
  border-radius: 0 0 30px 30px;
  padding: 10px;
  border: none;
  background-color: yellow;
  padding-bottom: 10px;
  /* background-color: var(--card-color); */
}
#navMenu{
  transition: 1s ease-in-out;
}


.container-xxl {
  max-width: 4000px!important;
  
}

.img{
  height: 100px;
  width: 100px;
  border: 5px solid white;
  border-radius: 30px;
  overflow: hidden;

  
}
.profileImg{
  height: 100%;
  width: 100%;
  
}
.logout{
  cursor: pointer;
}
.offcanvas{
  border-radius: 30px;
  width: 500px!important;
  max-height: 100vh;
  margin-top: 15px;
  top:-1%;
  left: 0;
  bottom: 100%;
  position: absolute;
  transition: none;
  
  
  
} 
#sidebarLinks{
  display: flex;

}

#offCanvasNav{
  background-color: var(--no-color);
  align-self: flex-start;
  border-radius: 30px;
  width: 18vw;
  border: none!important;
  box-shadow: none;
}

/* -----Buttons---- */
.iconSize{
  width: 2rem;
  height: 2rem;
}
#closeButton{
  visibility: hidden;
  cursor: pointer;
}
.toggleButton{
  cursor: pointer;
}
