@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
:root {
    --nav-color:  white;
    --dash-bg: chocolate;
    --card-bg: snow;
    --text-color: black;
    --hover-color: #6f6f70fb;
    --card-color: #ffffff;
    --no-color: transparent;
    --bg-choc: chocolate;
    --text-white: white;
    --text-black: black;
    --text-gray: #6f6f70fb;
    
}
body{
    background-color: snow!important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px gray;  */
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(87, 86, 86); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 60, 60); 
  }